
@import '../../pages/styles/Animations.module.scss';
@import '../../pages/styles/Forms.module.scss';
@import '../../pages/styles/Buttons.module.scss';
@import '../../pages/styles/Keyboard.module.scss';

#NoTargetVocab {
    text-align: center;
}

#VocabCreator, #CollectionCreator, #VocabViewer, #CollectionViewer {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px back;
    border-radius: 20px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
    margin-left: 1vw;
    width: 98vw;
    height: 98vh;
    z-index: 1;
    position: absolute;
    top: -10vh;
    background-color: rgba(0, 0, 0, 0.90);

    #Form {
        background-color: rgba(0, 0, 0, 0);
        p {
            margin-block-end: 0;
            margin-block-start: 0;
            font-size: 1em;
        }
        div > textarea {
            box-shadow: 0px 0px 10px white;
            width: 33vw;
            resize: none;
            height: 10vh;
        }


        input, select, textarea {
            animation: InputFieldAppear;
            animation-duration: 0.250s;
            animation-fill-mode: forwards;
        }
    }
}

#VocabMenu, #CollectionMenu, #VocabMedia, #VocabList, #VocabDataView, #CollectionList, #CollectionDataView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    img {
        animation: InputImageAppear;
        animation-duration: .75s;
        animation-fill-mode: forwards;
        animation-delay: 0.75s;
    }
}

#CollectionCreator {
    flex-direction: column;
    > div {
        width: 90%;
        align-self: center;
    }
}

#VocabMedia, #VocabDataView, #CollectionDataView {
    display: flex;
    padding-top: 1vh;
    padding-bottom: 1vh;
    h1, h2, h3 {
        margin-top: 0;
    }
    #ImageWrapper, #VocabImageView {
        height: fit-content;
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: column;

        textarea {
            box-shadow: 0px 0px 10px white;
            width: 66%;
            resize: none;
            height: 33%;
        }
    }

    #SoundWrapper {
        height: 20%;
        display: flex;
        justify-content: center;
    }
}

#VocabMedia {
    // margin-bottom: 33vh;
}

#VocabText, #CollectionText {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;

    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-top: 0;
        border-left: 0;
        border-right: 0;
        h1, p {
            margin-block-end: 0;
            margin-block-start: 0;
            font-size: 1em;
        }
    }
}

#Form {
    .ImageInput, .SoundInput {
        border: none;
        padding-top: 1vh;
    }
}

.ImageInput::-webkit-file-upload-button, .SoundInput::-webkit-file-upload-button {
    visibility: hidden;
    border: none;
}

.ImageInput::before, .SoundInput::before {
    display: flex;
    width: min-content;
    flex-direction: column;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    align-content: center;
}

.ImageInput::before {
    content: 'Select Image';
}

.SoundInput::before {
    content: 'Select Sound';
}

#VocabList, #CollectionList {
    width: 33vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 9vh;
    margin-bottom: 9vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
}

.VocabListWrapper, .CollectionListWrapper {
    width: 90%;
    box-shadow: 0px 0px 5px white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    button {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        background-color: rgba(144, 238, 144, 0.66);
        border: 1px white;
        font-size: 0.8em;

        h1 {
            margin-block-start: 0;
            margin-block-end: 0;
            font-size: 1.15em;
            align-self: center;
        }
    }

    animation: InputImageAppear;
    animation-duration: .33s;
    animation-fill-mode: forwards;
}

// todo consoldate these changes
.VocabListWrapper, .CollectionListWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
        margin-block-end: 0;
        margin-block-start: 0;
        width: 20%;
        text-align: center;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    button {
        width: 75%;
    }
}

#VocabDataView, #CollectionDataView{
    width: 100%;
    background-color: rgba(0, 255, 255, 0.66);
    justify-content: space-evenly;
}

#VocabImageView {
    animation: VocabViewAppear;
    animation-delay: 0;
    height: fit-content;
    height: 33%;
    > p {
        height: 33%;
        margin-block-end: 0;
        margin-block-start: 0;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        background-color: rgb(255, 255, 255, 0.15);
        width: 100%;
        text-align: center;
    }
    img {
        animation: none;
        width: 33vh;
        height: min-content;
    }
}

div#CollectionItemsView {
    border-bottom: 0;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    h2 {
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
    }
}

#CollectionItemsWrapper {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    // height: 33vh;
    width: 63vw;
    scrollbar-width: thin;
    background-color: rgba(255, 145, 0, 0.298);
    padding: 1vh 1vh 1vh 1vh;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;

    p {
        margin-block-end: 0;
        margin-block-start: 0;
    }

    > div {
        // width: 33vw;
        // padding-left: 10vw;
        // padding-right: 10vw;
        height: 25vh;
        display: flex;
        background: rgba(128, 64, 192, 0.6);
        border-radius: 20px;
        margin: 1vh 1vh 1vh 1vh;
        box-shadow: 0px 0px 10px white;
    }
}

#CollectionItemsSelection {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    h1 {
        margin-top: 0;
        margin-bottom: 0;
        width: 20%;
    }

    button {
        display: flex;
        border-radius: 20px;
        background-color: lightcoral;
        border: none;
        width: 100%;
        text-align: center;
    }

    > div {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: scroll;
        width: 80%;
        > div {
            display: flex;
            flex-direction: column;
            height: 6.66vh;
            justify-content: space-between;
            text-align: center;
            padding-left: 2vw;
            padding-right: 2vw;
            > p {
                background:rgba(0, 255, 60, 0.571);
                box-shadow: 0 0 5px white;
                margin-block-end: 0;
                margin-block-start: 0;
                height: 45%;
                margin-left: 1vh;
                margin-right: 1vh;
                padding-left: 1vh;
                padding-right: 1vh;
                justify-self: center;
                align-self: center;
                width: 100%;
            }
        }
    }
}

// language filter slider
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

#LanguageFilterToggleWrapper {
    display: flex;
    flex-direction: row !important;
    width: 100%;
    justify-content: space-between !important;
}

#CollectionMenu {
    padding-top: 5vh;
}

#VocabEditor {
    display: flex;
    flex-direction: row;
    #VocabMenu {
        width: 66%;
    }
    #VocabMedia {
        width: 33%;
    }
    #Form {
        width: 90%;
        padding-left: 2vw;
        padding-right: 2vw;
        > div {
            width: 100%;
        }

        input, select, textarea {
            padding-right: 0;
            margin-right: 0;
            scroll-margin-left: 0;
            padding-left: 0;
            width: 95%;
            align-self: center;
            display: flex;
        }

        select {

        }
    }
}