@import './styles/HeadersFooters.scss';
@import './styles/Buttons.scss';

#Landing {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
    position: absolute;
    top: 10vh;

    > .UserAccess {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 80vw;
        height: 100%;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}
